[run]
branch = True
source = distil
omit =
 .tox/*
 distil/tests/*
 distil/api/web.py
 distil/auth.py
 distil/database.py
 distil/helpers.py
 distil/initdb.py
 distil/interface.py
 distil/NoPickle.py
 distil/rates.py
 distil/transformers.py

[report]
ignore_errors = True
