*.pyc
*.deb
.vagrant
work
*.swp
*~
*.swo
*.sw*
lib/
man/
build/
work-api/
work-client/
env/
dist/
include/
*.egg*/
bin/activate
bin/activate.csh
bin/activate.fish
bin/activate_this.py
bin/ceilometer
bin/easy_install
bin/easy_install-2.7
bin/keystone
bin/netaddr
bin/nosetests
bin/nosetests-2.7
bin/pip
bin/pip-2.7
bin/pybabel
bin/python
bin/python2
bin/python2.7
.project
.pydevproject
.testrepository/
.tox/
.venv/
bin/logs/
bin/waitress-serve
local/
test_vm/
env/
ChangeLog
.idea
