[DEFAULT]
debug = True
timezone = Pacific/Auckland
host = localhost
port = 9999

[collector]
periodic_interval = 3600
collect_window = 1
dawn_of_time = 2017-01-01 00:00:00
meter_mappings_file = /etc/distil/meter_mappings.yml
transformer_file = /etc/distil/transformer.yml
trust_sources = openstack, .{32}:TrafficAccounting

[rater]
rater_type = odoo
rate_file_path = /etc/distil/rates.csv

[odoo]
version=8.0
hostname=
port=443
protocol=jsonrpc+ssl
database=
user=
password=

[database]
connection = mysql://root:passw0rd@127.0.0.1/distil?charset=utf8
backend = sqlalchemy

[keystone_authtoken]
auth_type = password
auth_url = https://api.cloud.catalyst.net.nz:5000/v3
username = lingxiankong@catalyst.net.nz
password = kong.123
project_name = openstack-dev.catalyst.net.nz
user_domain_name = default
project_domain_name = default
region_name = nz-por-1
