{
    "context_is_admin": "role:admin",
    "admin_or_owner": "is_admin:True or project_id:%(project_id)s",
    "default": "rule:admin_or_owner",

    "rating:credits:get": "rule:context_is_admin",
    "rating:measurements:get": "rule:context_is_admin",
    "rating:invoices:get": "rule:context_is_admin",
    "rating:quotations:get": "rule:context_is_admin",
}
